
<NavLink href=@Href class="text-center p-5 nav-link border-bottom" Match=@Match>
    <div class="d-flex flex-column navBarText">
        <span class="p-2">@Text</span>
        <i class="icon fa-solid @Icon"></i>
    </div>
</NavLink>

@code {
    [Parameter]
    public string Icon{ get; set; }
    [Parameter]
    public string Text{ get; set; }
    [Parameter]
    public string Href{ get; set; }
    [Parameter]
    public NavLinkMatch Match{ get; set; }
}
