<nav class="@cssClass">
    <div class="d-flex justify-content-between navBarTopRow">
        <a href="/" class="navbar-brand text-white p-2"><img src="./Images/logo.png" /> <span class="fw-bold">events</span>box</a>
        <button class="mobileCloseBtn px-3" @onclick=@Toggle><i class="fa-solid fa-x"></i></button>
    </div>
    <div class="navbar-nav">
        <NavBarItem Text="Home" Icon="fa-house" Href="/" Match="NavLinkMatch.All"></NavBarItem>
        <NavBarItem Text="Cards" Icon="fa-calendar" Href="/cards"></NavBarItem>
    </div>
</nav>

@code {
    [CascadingParameter]
    public bool ShowNavBar{ get; set; }
    [Parameter]
    public Action ToggleNavBar{ get; set; }

    private string cssClass => ShowNavBar ? "" : "hide";

    private void Toggle()
    {
        ToggleNavBar.Invoke();
    }
}
