@inject IJSRuntime _js

<div class="top-row">
    <button class="navBarToggler" @onclick=@Toggle>
        <i class="fa-solid @(ShowNavBar ? "fa-circle-arrow-left" : "fa-bars")"></i>
    </button>
    <span>@Title</span>
</div>


@code {
    private string _title;
    [CascadingParameter]
    public bool ShowNavBar{ get; set; }
    [Parameter]
    public Action ToggleNavBar{ get; set; }
    private string Title
    {
        get => _title;
        set
        {
            if (_title == value)
                return;
            _title = value;
            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Title = await _js.InvokeAsync<string>("getTitle");
    }

    private void Toggle()
    {
        ToggleNavBar.Invoke();
    }
}
