@inject IJSRuntime _js

<div class="top-row">
    <button class="navBarToggler" @onclick=@Toggle>
        <i class="fa-solid @(ShowNavBar ? "fa-circle-arrow-left" : "fa-bars")"></i>
    </button>
    <span>@_title</span>
</div>


@code {
    [CascadingParameter]
    public bool ShowNavBar{ get; set; }
    [Parameter]
    public Action ToggleNavBar{ get; set; }
    private string _title;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _title = await _js.InvokeAsync<string>("getTitle");
        StateHasChanged();
    }

    private void Toggle()
    {
        ToggleNavBar.Invoke();
    }
}
