@page "/"


<PageTitle>Events</PageTitle>

<div class="d-flex flex-fill flex-column m-3">
    <div>
        <CustomSmallButton Icon="fa-arrows-rotate" Color="white" BackgroundColor="#2626a8"/>
    </div>
    <div>
        <EventCollapser Event=@e></EventCollapser>
    </div>
</div>


@code
{
    private Event e = new()
        {
            ImageUrl = "./Images/logo.png",
            Title = "Test Event",
            Cards = new()
            {
                new()
                {
                    Id = Guid.Parse("5dc8c98d-bae9-4c3d-93cf-9500720a093a"),
                    BackgroundUrl = "https://t4.ftcdn.net/jpg/02/99/58/35/360_F_299583549_nhVRkQKMO1mpZ3NBoNz1I8HRUi6aR2w4.jpg",
                    Title = "testcard",
                    ImageUrl ="./Images/logo.png",
                    Location = "2310 Szigetszentmiklós-Lakihegyw"
                }
            }
        };
}