@page "/"
@inject EventsBoxDbContext _context

<PageTitle>Events</PageTitle>

<div class="d-flex flex-fill flex-column m-3">
    <div>
        <CustomSmallButton Icon="fa-arrows-rotate" Color="white" BackgroundColor="#2626a8"/>
    </div>
    <div>
        @foreach(var e in _listOfEvents)
        {
            e.Cards = _listOfCards.Where(x => x.EventId == e.Id).ToList();
            <EventCollapser Event=@e></EventCollapser>
        }
    </div>
    
</div>


@code
{
    private List<Event> _listOfEvents = new();
    private List<Card> _listOfCards = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            _listOfEvents = await _context.Events.ToListAsync();
            _listOfCards = await _context.Cards.ToListAsync();
            StateHasChanged();
        }
    }

}