@page "/cards"
@inject EventsBoxDbContext _context
@inject NavigationManager _navigationManager

<PageTitle>Cards</PageTitle>

<div class="d-flex flex-fill flex-column m-3">
    <CustomSmallButton OnClick=@CreateCard Icon="fa-circle-plus" Color="white" BackgroundColor="#2626a8"/>
    <div class="d-flex flex-row flex-wrap p-2">
        @foreach(var card in _listOfCards)
        {
            <CardComponent Card=@card Editable=true></CardComponent>
        }

    </div>
</div>


@code {
    private List<Card> _listOfCards = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            _listOfCards = await _context.Cards.ToListAsync();
            StateHasChanged();
        }
    }

    private void CreateCard()
    {
        _navigationManager.NavigateTo("/cards/edit/");
    }
}
