@page "/cards"
@inject EventsBoxDbContext _context

<PageTitle>Cards</PageTitle>
<div class="d-flex flex-row flex-wrap p-2">
    @foreach(var card in _listOfCards)
    {
        <CardComponent Card=@card Editable=true></CardComponent>
    }

</div>


@code {
    private List<Card> _listOfCards = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            _listOfCards = await _context.Cards.ToListAsync();
            StateHasChanged();
        }
    }
}
