@page "/cards"
<PageTitle>Cards</PageTitle>
<div class="d-flex flex-row flex-wrap p-2">
    @foreach(var card in ListOfCards)
    {
        <CardComponent Card=@card Editable=true></CardComponent>
    }

</div>


@code {
    List<Card> ListOfCards = new()
        {
            new()
            {
                Id = Guid.Parse("5dc8c98d-bae9-4c3d-93cf-9500720a093a"),
                BackgroundUrl = "https://t4.ftcdn.net/jpg/02/99/58/35/360_F_299583549_nhVRkQKMO1mpZ3NBoNz1I8HRUi6aR2w4.jpg",
                Title = "testcard",
                ImageUrl = "./Images/logo.png",
                Location = "2310 Szigetszentmiklós-Lakihegyw"
            }
        };
}
