@page "/cards/edit/{Id}"
<PageTitle>Editing: @(_cardToEdit is null ? "Card not found!" : @_cardToEdit.Title)</PageTitle>

@if(_cardToEdit is not null)
{
    <div class="d-flex flex-fill p-3">
        <EditForm Model=@_cardToEdit>
            <DataAnnotationsValidator />
            <ValidationSummary />
            <CustomTextInput @bind-Value=@_cardToEdit.Title placeholder="Title"></CustomTextInput>
            <CustomButton Text="Send" Type="submit"></CustomButton>
        </EditForm>
    </div>
}



@code {
    private Card? _cardToEdit = new();
    private List<Card> _allCards = new()
        {
            new()
            {
                Id = Guid.Parse("5dc8c98d-bae9-4c3d-93cf-9500720a093a"),
                BackgroundUrl = "https://t4.ftcdn.net/jpg/02/99/58/35/360_F_299583549_nhVRkQKMO1mpZ3NBoNz1I8HRUi6aR2w4.jpg",
                Title = "testcard",
                ImageUrl = "./Images/logo.png",
                Location = "2310 Szigetszentmiklós-Lakihegyw"
            }
        };

    [Parameter]
    public string Id{ get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            _cardToEdit = _allCards.FirstOrDefault(x => x.Id.ToString() == Id);
            StateHasChanged();
        }
    }
}
