<div class="d-flex justify-content-center col-3" style="height:250px;width:500px;">
    <div class="d-flex flex-fill" style="background-image:url(@BackgroundImage);filter:blur(10px)"></div>
    <div class="d-flex flex-column flex-fill" style="background-color:rgba(0,0,0,0.5);">
        <img src=@TopImage style="width:24px;height:24px;background-color:white;"/>
        <p class="fw-bold">@Title</p>
    </div>

</div>




@code {
    [Parameter]
    public string BackgroundImage{ get; set; }
    [Parameter]
    public string Title{ get; set; }
    [Parameter]
    public string TopImage{ get; set; }
}
