button {
    width:100%;
    border: none;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    background-color: #2626a8;
    color: white;
    transition:all 120ms ease-out;
}

    button:active {
        background-color: #38a5c6;
    }