
<button type=@Type @onclick=@OnClick>
    @if(ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        <i class="fa-solid @Icon"></i>
    }
</button>

@code {
    [Parameter]
    public Action OnClick { get; set; }
    [Parameter]
    public string Type { get; set; } = "button";
    [Parameter]
    public RenderFragment ChildContent{ get; set; }
    [Parameter]
    public string Icon { get; set; }
}
